name: Build Docker CI

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Login to Github Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ./EmailService-API/Dockerfile
            push: true
            tags: ghcr.io/ninepiece2/emailservice-api:latest

        # - name: Trigger Deploy Workflow
        #   uses: peter-evans/repository-dispatch@v4
        #   with:
        #     token: ${{ secrets.GITHUB_TOKEN }}
        #     event-type: build-completed